<div class="py-3 px-2">
    <div class="mb-4">
        <h2 class="bg-secondary text-white p-3 mb-3">購入情報確認</h2>

        <p class="mb-3">購入情報をご確認ください。</p>

        <div class="mb-4 px-3 bg-white">
            <div class="py-3 border-bottom">
                <div class="row">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="fas fa-map-marker-alt mr-2"></i>劇場 / スクリーン</p>
                    <p class="col-md-8">モーションピクチャー / スクリーン1</p>
                </div>
            </div>
            <div class="py-3 border-bottom">
                <div class="row">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="fas fa-film mr-2"></i>作品</p>
                    <p class="col-md-8">モーションピクチャー</p>
                </div>
            </div>
            <div class="py-3 border-bottom">
                <div class="row">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="far fa-clock mr-2"></i>上映開始日時</p>
                    <p class="col-md-8">{{ startDate }}</p>
                </div>
            </div>
            <div class="py-3 border-bottom">
                <div class="row">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="fas fa-ticket-alt mr-2"></i>座席・券種</p>
                    <div class="col-md-8">
                        <p >A-1 一般 / 1800円</p>
                    </div>
                </div>
            </div>
            <div class="py-3">
                <div class="row">
                    <p class="mb-2 mb-md-0 col-md-4">
                        <i class="far fa-credit-card mr-2"></i>決済方法</p>
                    <p class="col-md-8">エンタメコイン</p>
                </div>
            </div>
        </div>


        <div class="w-75 mx-auto">
            <button type="button" class="btn btn-primary btn-block py-2 mb-2" [disabled]="disabled" (click)="onSubmit()">購入確定</button>
        </div>

    </div>
</div>

<app-loading [show]="isLoading"></app-loading>